@media (max-width: 530px) {
    .newsletter{
        display: none;
    }
    .header_content.ml-auto{
        display: none;
    }
    .home_slider_title {
        font-size: 16px;
    }
    .section_title {
        font-size: 35px;
    }
    .footer_logo a {
        font-size: 35px;
    }
}